body{
  width: 80rem;
  margin: 0 auto;
  padding:0;
  background-color: black;
}
header{
  margin: 0 auto;
  height: 56.25rem;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 253, 0.35), rgba(0, 0, 253, 0.35)),
  url("images/rectangle-17.png");

}

.main-nav{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 3.4rem;
}
.nav-menu{
  position: absolute;
  right: 9.25rem;
}
.logo-text{
  font-family: 'Dancing Script', cursive;
  font-size: 1.625rem;
  font-weight: bold;
  color: #D9F0FF;
  margin-left: 4rem;
}

.nav ul{
  list-style: none;
}
.nav ul li{
    display: inline-block;
}
.nav li a{
    font-family: 'Poppins', sans-serif; 
    font-size: .75rem;
    font-weight: 500;
    margin: 1.25rem;
  }

  .nav a {
    text-decoration: none;
    text-transform: uppercase;
    color:#D9F0FF;
    
  }
  .nav a:hover {
    border-bottom: 1px solid #D9F0FF;
  }
   
  .nav a.active {
    background-color: #023994;
    cursor: default;
  }

  .hero{
    width: 41rem;
    height: 25.25rem;
    position: absolute;
    top: 20.75rem;
    left: 30%;
  }
  .hero h1{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 6.25rem;
    color:white;
    margin: 0px;
   
  }
.hero p{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: white;
}
  #hero-button{
    background-color: #325DFF;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: .5rem;
    font-size: 0.875rem;
    color: white;
   padding: 1.7rem 2.94rem 1.7rem 2.94rem;
   margin: 3.4rem 0.3em 0.3em 6rem;
   border:36px;
  border-radius: 2rem;
  }

  .main{
    width: 80rem;
    position: relative;
  }
  .work{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  #work-intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #work-intro-text{
    margin: 0rem;
    width: 40rem;
    height: 40rem;
    background-color: white;

  }
  .work-intro-content{
    width: 34.5rem;
  }
  #work-intro-text h2{
    font-family: 'Lato', sans-serif;
    font-size: 3.12rem;
    font-weight: 300;
    line-height: 3.75rem;
    color:black;
    margin:5.6rem 5.3rem .25rem 5.12rem;
  }
  #work-intro-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin:2rem 6rem 0rem 5.12rem;
  }

  #work-intro-text button{
    background-color: #325DFF;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: .5rem;
    font-size: 0.875rem;
    color: white;
   padding: 1.7rem 2.94rem 1.7rem 2.94rem;
   margin: 3.4rem 0.3em 0.3em 6rem;
   border:36px;
  border-radius: 2.25rem;
  }
  .work-intro-img{
    margin: 0rem;
    width: 40rem;
    height: 40rem;
    background-color: #BAD5E8;
  }
  .work-intro-img img{
    width: 40rem;
    height: 40rem;
  }
  .projects{
    width: 80rem;
    height: 71.6875rem;
    background-color: #FAFAFA;
  }
  #projects-list{
    background-color: #FAFAFA;
    width: 73.1875rem;
    height: 60.3125rem;
    margin-left: 3.41rem;
  }
  .project-list-intro{
    width: 50.625rem;
    margin: 0 auto;
  }
.project-list-intro h2{
  font-family: 'Lato', sans-serif;
  font-size: 2.18rem;
  font-weight: 300;
  line-height: 2.5rem;
  color:black;
  text-align: center;

}

.project-list-intro p{
  font-family: 'Poppins', sans-serif; 
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.56rem;
  color:black;
text-align: center;
}

.project-list-items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.project-list-items > div{
  width: 23.1875rem;
  height:23.375rem;
  background-color:#FAFAFA;
  border: solid 0.5px #CECECE;
  position: relative;
  margin-bottom: 1.1rem;
}
.project-list-items > div h3{
  font-family: 'Lato', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.375rem;
  color: black;
  text-align: center;
}
.project-list-items > div p{
  font-family: 'Poppins', sans-serif; 
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.56rem;
  color: black;
  text-align: center;
  width: 15.7rem;
  height: 6.6rem;
  margin: 0 auto;
}

.icon{
  width: 5.5rem;
  height: 5.5rem;
  background-color:#325DFF;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 4.18rem;
  
}

.icon img{
   display: block;
    margin: auto;
    padding-top: 30%;
}

.features{
  width: 80rem;
  background-color: #FAFAFA;
}
.features h3{
  font-family: 'Lato', sans-serif;
    font-size: 2.18rem;
    font-weight: 300;
    line-height: 2.5rem;
    color: black;
    text-align: center;
}
.features p{
  font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.56rem;
    color: black;
    text-align: center;
   
}
.features button{
  background-color: #325DFF;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  letter-spacing: .5rem;
  font-size: 0.875rem;
  color: white;
  padding: 1.7rem 2.94rem 1.7rem 2.94rem;
  margin: 3.4rem 0.3em 0.3em 6rem;
  border: 36px;
  border-radius: 2.25rem;
}

#features-case-studies {
  width: 80rem;
  height: 37.5625rem;
  background-size: cover;
  background-image: linear-gradient(rgba(21, 116, 185, 0.35), rgba(21, 116, 185, 0.35)),
  url("images/Image-flower.png");
}
#features-case-studies h3{
  font-family: 'Lato', sans-serif;
  font-size: 2.1875rem;
  font-weight: 300;
  line-height: 2.625rem;
  text-align: center;
  color: white;
}
#features-case-studies p{
  font-family: 'Poppins', sans-serif; 
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.56rem;
  text-align: center;
  color: white;
}

#features-case-studies img{
   display: block;
    margin: auto;
    padding-top: 13.44rem;
}

#features-projects-head{
   width: 50.625rem;
    margin: 0 auto;
}

#f-featured-list{
  width: 80rem;
  height: 120rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5.8rem;
}
.f-item-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.f-item-1 >div{
  width: 40rem;
  height: 40rem;
  background-color:white;
}

#f-f-items-intro-1 h3{
  margin:6.25rem 5.375rem 1.6875rem 5.125rem;
  text-align: left;
}
#f-f-items-intro-1 p{
  margin:1.6875rem 5.375rem 4rem 5.125rem;
  text-align: left;
}
#f-f-items-intro-1 button{
  margin:0rem 0rem 0rem 4.125rem;
  
}
#f-f-items-img-1 img{
  width: 40rem;
  height: 40rem;
}

.f-item-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.f-item-2 >div{
  width: 40rem;
  height: 40rem;
  background-color:white;
}

#f-f-items-img-2 img{
  width: 40rem;
  height: 40rem;
}
#f-f-items-intro-2 h3{
  margin:6.25rem 5.375rem 1.6875rem 5.125rem;
  text-align: left;
}
#f-f-items-intro-2 p{
  margin:1.6875rem 5.375rem 4rem 5.125rem;
  text-align: left;
}
#f-f-items-intro-2 button{
  margin:0rem 0rem 0rem 4.125rem;
  
}

.f-item-3{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.f-item-3 >div{
  width: 40rem;
  height: 40rem;
  background-color:white;
}
#f-f-items-img-3 img{
  width: 40rem;
  height: 40rem;
}
#f-f-items-intro-3 h3{
  margin:6.25rem 5.375rem 1.6875rem 5.125rem;
  text-align: left;
}
#f-f-items-intro-3 p{
  margin:1.6875rem 5.375rem 4rem 5.125rem;
  text-align: left;
}
#f-f-items-intro-3 button{
  margin:0rem 0rem 0rem 4.125rem;
  
}
footer{
  width: 80rem;
  height: 8.75rem;
  background-color: #325DFF;
  margin:0rem;
  padding:0rem;
}
footer p{
  font-family: 'Poppins', sans-serif; 
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.875;
  color: white;
  opacity: 52%;
  position: absolute;
  left: 40%;
  padding-top: 2.5rem;
}





